---
import { Icon } from 'astro-icon';
---

<footer class="mt-20 border-t border-gray-200 dark:border-slate-800">
  <div class="max-w-6xl mx-auto px-8">
    <div class="flex items-center justify-between py-6">
      <p class="text-5xl">2023</p>
      <ul class="flex mb-4 -ml-2 md:ml-4 md:mb-0">
        <img src="logo.webp" alt="3k" width="50" />
      </ul>
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        <Icon name="tabler:brand-github" class="w-5 h-5" />
        Made by <a class="text-blue-600 hover:underline dark:text-gray-200" href="https://github.com/triskel-es"
          >Triskel</a
        >
      </div>
    </div>
  </div>
</footer>
