---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import { getPermalink } from '~/utils/permalinks';

import Hero from '~/components/widgets/Hero.astro';
import Trabajos from '~/components/widgets/Trabajos.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import Koordenadas from '~/components/widgets/Koordenadas.astro';
import Features from '~/components/widgets/Features.astro';
import UltimasLecturas from '~/components/blog/UltimasLecturas.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero
    callToAction={{ text: '', href: getPermalink('#trabajos'), icon: 'tabler:device-laptop' }}
    callToAction2={{ text: '+++++', href: '#espacio' }}
    image={}
  >
    <Fragment slot="title">Trae el proyecto</Fragment>

    <Fragment slot="subtitle">
      y podrás transformar lo que imaginas, en una película, <br /> una vez que vengas, nunca querrás alejarte de su magia.
    </Fragment>
  </Hero>

  <Trabajos
    highlight="Trabajos"
    title="Trabajos más recientes"
    subtitle="aquí te mostramos un adelanto de todo lo que hemos hecho hasta ahora"
    items={}
  />

  <Steps
    title="El Triskel en la cultura celta representa el equilibrio entre cuerpo, mente y espíritu."
    items={[
      {
        title: '<span class="font-medium">Druida</span>',
        description:
          'Los druidas, son junto a los bardos, aquellos que poseían e*l awen* (inspiración) en la Galicia celta. Asimismo, eran los únicos que podían portar el símbolo sagrado del triskel con el que realizaban su magia.',
        icon: 'tabler:arrow-down',
      },
      {
        title: '<span class="font-medium">Magia</em>',
        description:
          'En nuestro espacio triskel, arropado por esta filosofía, encontrarás este triple equilibrio desde el cual podrás postproducir tus películas (desde el color a los formatos finales) gracias a nuestra magia contemporánea basada en nuestro conocimiento, equipo humano y tecnologías como la Inteligencia Artificial aplicadas a la postproducción de imágenes :)',
        icon: 'tabler:arrow-down',
      },
      {
        title: '<span class="font-medium">Espacio</span>',
        description:
          'Y si esto fuera poco, estamos ubicados en un lugar excepcional para el alma. El espacio está enterrado en la tierra (como un refugio druida) rodeados de naturaleza, aire puro, vistas increíbles y hasta tenemos un manantial de agua natural. Todo brota desde la tierra de la que procedemos, a nuestras raíces.',
        icon: 'tabler:arrow-down',
      },
      {
        title: 'Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/colors.jpg'),
      alt: 'Steps image',
    }}
  />

  <Features2
    highlight="Items"
    title="De qué estamos hechos"
    subtitle="Lo que nos hace diferentes es lo que nos hace únicos"
    items={[
      {
        title: 'Datos/Piedra',
        description: 'los recuerdos/el espacio es insólito y está arraigado a una tierra única.',
        icon: 'tabler:box',
        color: 'blue-500',
      },
      {
        title: 'Agua',
        description: 'disponemos de un extraordinario manantial de agua natural in_situ.',
        icon: 'tabler:droplet',
        color: 'cyan-500',
      },
      {
        title: 'Tierra',
        description: 'las vistas japonesas a las montañas gallegas lo convierte en un lugar singular.',
        icon: 'tabler:planet',
        color: 'green-500',
      },
      {
        title: 'Energia',
        description: 'nuestra energía es 100% renovable, el entorno es sostenible.',
        icon: 'tabler:bolt',
        color: 'orange-500',
      },
      {
        title: 'Fuego',
        description: 'nuestro equipo humano arde en talento y lo transforma en magia.',
        icon: 'tabler:flame',
        color: 'red-500',
      },
      {
        title: 'Viento',
        description: 'nuestro aire es puro y cambia, no parará nunca de evolucionar en medios y tecnología.',
        icon: 'tabler:windmill',
        color: 'violet-500',
      },
    ]}
  />

  <Content
    highlight="Servicios"
    title="qué te podemos ofrecer..."
    subtitle="Nos encanta trabajar a tres bandas para controlar el proceso final."
    items={[
      {
        title: 'Postproduccion',
        description: 'Sabemos hacer postproducción de imagen para cine.',
      },
      {
        title: 'Color',
        description: 'Estamos especializados en trabajos de color.',
      },
      {
        title: 'Formatos',
        description: 'Exportamos todo tipo de formatos, somos un laboratorio audiovisual.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Áreas de post-producción digital
      </h3>Puedes hacer uso, solo del espacio y su equipación sin técnicos o contratar a nuestro equipo humano.
    </Fragment>

    <Fragment slot="content2">
      Escríbenos para consultar cualquiera de nuestras disponibilidad y reservar fechas, no lo dudes, ya seas un
      profesional del audiovisual o un artista te trataremos de la única forma que sabemos tratar, maravillosamente :)
    </Fragment>
  </Content>

  <Koordenadas
    isReversed={false}
    highlight="Koordenadas"
    title="dónde nos puedes encontrar..."
    subtitle="Disponemos de una excelente ubicación"
    items={[
      {
        title: 'Coche',
        description: 'por carretera nacional hasta el estudio',
      },
      {
        title: 'Tren',
        description: 'hay trenes directos cada día a cualquier gran ciudad',
      },
      {
        title: 'Avion',
        description:
          'a 1-1/2 horas en coche está el aeropuerto más cercano (Santiago de Compostela) con destinos a todas las ciudades europeas',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Accesos</h3>
      se puede llegar fácilmente a Triskel con:
    </Fragment>

    <Fragment slot="content2">
      Además como puedes ver en el mapa, cerca del lugar están todos los servicios esenciales a parte de ser parte de
      una de las zonas más bonitas de Galicia, la Ribeira Sacra :)
    </Fragment>
  </Koordenadas>

  <Features
    highlight="Espacio"
    title="Qué nos hace interesantes"
    subtitle="Un lugar sobre el que expandir la imaginación rodeado de naturaleza vigorosa, un laboratorio en el que crear libre de estrés"
    items={[
      [
        {
          title: 'Integrado con el medio ambiente',
          description:
            'El estudio está literalmente integrado en la tierra, es como un refugio celta por el que puedes pasear en su jardín superior, rodeado de hierba verde, naturaleza por doquier y aire puro alejado de las estresantes y contaminadas urbes.',
          icon: 'tabler:trees',
        },
        {
          title: 'Componentes listos para usar',
          description:
            'Toda nuestra equipación tecnológica está técnicamente seleccionada y conectada estableciendo los estándares de mayor calidad y las redes de mayor velocidad. Además el espacio está completamente equipado con una cocina, baño/ducha y zonas de descanso. Para que tus producciones fluyan en tranquilidad a la velocidad de la luz.',
          icon: 'tabler:components',
        },
        {
          title: 'Actualizado con frecuencia',
          description:
            'Tratamos de estar actualizados en todo momento tanto de nuestros equipos de trabajo (Workstation, RAID, DAS, pantallas de colorimetria...) como de los programas informáticos que usamos. No estar al día no es una opción.',
          icon: 'tabler:rotate-clockwise-2',
        },
      ],
      [
        {
          title: 'Salud',
          description: 'Ya no puede ser solo el trabajo, la salud mental tiene que ser una prioridad absoluta.',
          icon: 'tabler:activity',
        },
        {
          title: 'Hermanados con lo que nos rodea',
          description:
            'El 100% de la electricidad del lugar procede de fuentes de energía renovables respetuosas con el entorno y la calificación energética del edificio es de clase A. Ahora ser verde es una obligación.',
          icon: 'tabler:yin-yang',
        },
        {
          title: 'Abierto a nuevas ideas y contribuciones',
          description:
            'El triskel es un espacio multidisciplinar, basado en nuevas tecnologías y abierto a nuestras prácticas de trabajo, tanto para labores de postproducción en cine como en otras artes, o simplemente a un profesional o artista inquieto que busque una experimentación digital, con tecnología punta y en el centro de la tranqulidad y la paz. En cualquier caso eres bienvenido, porque el Triskel se adapta a ti.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <UltimasLecturas
    title="Lecturas"
    information={`En la sección de lecturas podrás encontrar documentación, sobre los puntos importantes que debes conocer`}
    postIds={['1.md', '2.md', '3.md', '4.md']}
  />

  <CallToAction
    callToAction={{
      text: 'Unete',
      href: 'mailto:filus.triskel@gmail.com?Subject=Interesado%20en%20la%20disponibilidad%20espacio%20Triskel',
      icon: 'tabler:mail',
    }}
  >
    <Fragment slot="title">
      <span class="text-blue-500"> Nos</span>
      +
      <span class="text-yellow-500"> Vos</span>
    </Fragment>

    <Fragment slot="subtitle">
      Para cualquier pregunta, <br class="hidden md:inline" />no lo dudes, escríbenos :P
    </Fragment>
  </CallToAction>
</Layout>
